:root   {
    --button_blue: #2d64e6;
    --nuove_uscite_bg:#1f1f1f;
    --ps_plus_bg: #bebcbb;
    --ps_now_bg: #151c3b;
    --footer_bg: #00439c;
    --ps_plus_button: #d9dadc;
}

*   {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
}

/*.ms_custom_container    {
    max-width: 1110px;
    margin: 0 auto;
}*/ 


/*NAVIGATION*/
.ms_logo_bar    {
    background-color: black;
    
}

.ms_sony_logo   {
    margin-right: 0.5rem !important;
}

.ms_nav   {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ms_menu_item   {
    display: flex;
    align-self: center;
    margin-right: 1.5rem;
    /*font-size: 1.43rem;*/
}

.ms_menu_items  {
    display: flex;
    justify-content: space-between;
}

.ms_accedi_button   {
    border-radius: 16px;
    background-color: var(--nuove_uscite_bg);
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

/*HERO*/
.ms_hero    {
    background-image: url("../img/jumbo-bg.png");
    background-image: cover;
    height: 586px;
    color: white;
}

.ms_buy_now_button  {
    background-color: red;
    color: white;
    padding: 0.8rem;
    border-radius: 16px;
    
}


.ms_hero_logo   {
    width: 196px;
}

.ms_hero_elements   {
    position: absolute;
    left: 2.63rem;
    bottom: 3rem;
    max-width: 349px;
}

/*hero carousel*/

.ms_carousel img {
    width:165px;
    height: 89px;
    margin-top: 2.2rem;
    border-radius: 25px;
    padding: 4px;
    border:2px solid transparent;
}

.ms_carousel img:hover    {
    border:2px solid blue;
}

/*PS5*/
.ms_ps5_carousel img  {
    width: 196px;
    border-bottom: 2px solid transparent;
    opacity: 50%;
    transition: opacity 2s;
}

.ms_ps5_carousel img:hover  {
    border-bottom: 2px solid blue;
    opacity: 100%;
}

.ms_ps5_thumb_img {
    width: 551px;
}

.ms_info_button    {                                        /*applied to "ps4" section too*/
    background-color: var(--button_blue);
    border-radius: 25px;
    color: white;
    border:none;
    padding: 0.5rem;
}

.ms_ps5_tagline {
    color: var(--button_blue);
    font-size: 0.75rem;
}

/*IT TAKES TWO*/
.ms_it_takes_two    {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-image: cover;
    height: 620px;
    color: white;
}

.ms_it_takes_two_text   {
    max-width: 349px;
    position: absolute;
    left: 2.63rem;
    bottom: 3rem;
}


/*NUOVE USCITE*/
.ms_nuove_uscite_section    {
    padding-bottom: 5.125rem;
    padding-top: 2.0625rem;
}

.ms_nuove_uscite img    {
    width: 164px;
    height: 164px;
}

.ms_nuove_uscite_text   {
    width: 164px;
}

.ms_nuove_uscite  {
    background-color: var(--nuove_uscite_bg);
    color:white;
}

.ms_ps4_img   {
    width: 216px;
}

.ms_nuove_uscite_img    {
    border-radius: 25px;
}

/*ESPLORA PS4*/

.ms_esplora_ps4_text,
.ms_ps5_text    {     /*PS5 Section*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms_esplora_ps4_container   {
    padding-bottom: 2.875rem;
    padding-top: 4.75rem;
}


/*PS PLUS SECTION*/
.ms_ps_plus {
    background-color: var(--ps_plus_bg) ;
}

.ms_ps_plus_logo    {
    width: 318px;
}

.ms_ps_plus_description     {
    width:535px;
}

.ms_ps_plus_text {
    align-self: center;
}

.ms_ps_plus_featured_games  {

}

.ms_esplora_ps_plus_button  {
    background-color: var(--ps_plus_button);
    border-radius: 25px;
    color: var(--button_blue);
    border:none;
    padding: 0.5rem;
}

/*SCONTI SECTION*/
.ms_ps_store_img    {
    width: 357;
}

.ms_sconti_container       {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*PLAYSTATION NOW SECTION*/
.ms_ps_now_button   {
    background-color: var(--ps_plus_button);
    border-radius: 25px;
    color: black;
    border:none;
    padding: 0.5rem;
}

.ms_ps_now  {
    background-color: var(--ps_now_bg);
}

.ms_ps_now_logo {
    width: 310px;
}

.ms_ps_now_description  {
    color:white;
    width: 537px;
}

.ms_ps_now_text {
    align-self: center;
}

/*SOCIAL SECTION*/

.ms_social_media_container  {
    padding-top: 5.125rem;
    padding-bottom: 6.18rem;
}

.ms_social_icon {
    width: 124px;
}

.ms_social_media_title  {
    text-align: center;
    margin-bottom: 4.32rem;
}

/*FOOTER*/
.ms_footer  {
    background-color: var(--footer_bg);
    color: white;
}

.ms_link_container  {
    display: flex;
}

.ms_link_column {
    margin-left: 105px;
}

.ms_sie_logo    {
    width: 129px;
}

.ms_rights_description  {
    width: 553px;
}

.ms_footer_container    {
    display: flex;
    justify-content: space-between;
    padding-top: 5.125rem;
    padding-bottom: 5.125rem;
}