:root   {
    --button_blue: #2d64e6;
    --nuove_uscite_bg:#1f1f1f;
    --ps_plus_bg: #bebcbb;
    --ps_now_bg: #151c3b;
    --footer_bg: #00439c;
}


/*NAVIGATION*/
.ms_logo_bar    {
    background-color: black;
    
}

.ms_sony_logo   {
    margin-right: 0.5rem !important;
}

.ms_nav   {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ms_menu_item   {
    display: flex;
    align-self: center;
    margin-right: 1.5rem;
    font-size: 1.43rem;
}

.ms_menu_items  {
    display: flex;
    justify-content: space-between;
}

.ms_accedi_button   {
    border-radius: 16px;
    background-color: var(--nuove_uscite_bg);
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

/*HERO*/
.ms_hero    {
    background-image: url("../img/jumbo-bg.png");
    background-image: cover;
    height: 586px;
    color: white;
}

.ms_buy_now_button  {
    background-color: red;
    color: white;
    padding: 0.8rem;
    border-radius: 16px;
    
}


.ms_hero_logo   {
    width: 196px;
}

.ms_hero_elements   {
    position: absolute;
    left: 2.63rem;
    bottom: 3rem;
    max-width: 349px;
}

.ms_carousel img {
    width:159px;
    height: 89px;
    margin-top: 2.2rem;
}

/*PS5*/
.ms_ps5_carousel img  {
    width: 196px;
}

.ms_ps5_carousel img:hover  {
    border-bottom: 2px solid blue;
}

/*IT TAKES TWO*/
.ms_it_takes_two    {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-image: cover;
    height: 620px;
    color: white;
}

.ms_it_takes_two_text   {
    max-width: 349px;
    position: absolute;
    left: 2.63rem;
    bottom: 3rem;
}